$( "div#<%= dom_id(@list) %> div.card-header > .edit_list_form" ).replaceWith(' <h4 class="navbar-text"><%= @list.title %></h4> ');
$( "div#<%= dom_id(@list) %> div.card-header > .list-edit" ).show();